<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
>>>>>>> 692155690affcda98c88af3a58fbbc8de017a187
}