* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
}

.header {
  background-color: #fff;
  grid-area: header;
}
.header .right-menu {
  display: flex;
  justify-content: end;
}
.header img {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  margin: 10px 0;
}
.header .menu {
  display: none;
  margin: auto 20px auto 10px;
}
.header .dropdown {
  margin: auto 20px auto 10px;
  color: #D2D9E5;
}
.header .dropdown:hover {
  cursor: pointer;
}

.sidebar {
  background-color: #fff;
  grid-area: sidebar;
}
.sidebar .sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .sidebar-title span {
  display: none;
}
.sidebar .logo {
  width: 100%;
  height: 60px;
  background-color: #000D18;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .sidebar-link {
  padding: 20px 15px;
  color: #74708D;
  font-size: 15px;
}
.sidebar .sidebar-link hr {
  border: 1px solid #ddd;
  margin: 10px 0;
}
.sidebar .sidebar-link span {
  float: right;
  font-size: 12;
  color: #ABB6BE;
}
.sidebar .sidebar-link p:hover {
  cursor: pointer;
}

.main {
  background-color: #F2F4F8;
  grid-area: main;
}
.main .main-grid {
  background-color: #fff;
  width: 97%;
  height: 99%;
  margin: 15px;
}
.main .title {
  margin: 20px 15px 0;
  padding: 15px 10px 0 10px;
  font-weight: 600;
}
.main .cards {
  width: 97%;
  height: 90%;
  background-color: #fff;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  padding: 10px;
}
.main .card {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.main .card .image {
  text-align: center;
}
.main .card .image:hover {
  cursor: pointer;
}
.main .card hr, .main .card p {
  margin: 0 10px;
}
.main .card hr {
  border: 1px solid #ddd;
}
.main .card .card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0;
}
.main .card .card-content span {
  margin: 0 3px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
}
.main .scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  background-color: #D2D9E5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12;
  height: 100%;
}

.logoutpopup {
  position: fixed;
  top: -30%;
  right: 2%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ddd;
}
.logoutpopup i {
  padding-right: 5px;
}

.logoutpopup:hover {
  cursor: pointer;
}

body.logoutpopup-active .logoutpopup {
  top: 6%;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 200px 1fr;
  }
}
@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "header" "main";
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    display: none;
  }
  .sidebar .sidebar-title > span {
    display: inline;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .menu {
    display: inline;
    color: #000D18;
  }
  .main .cards {
    display: flex;
    flex-direction: column;
  }
  .main .main-grid {
    margin: 5px;
  }
}/*# sourceMappingURL=styles.css.map */